body{
  margin: 0;
}
.update-notification {
  background-color: #222222;
  color: #ffffff;
  display: block;
  position: absolute;
  top: 0;
  width: -webkit-fill-available;
  text-align: center;
  padding: 0.8em 1.2em;
  text-decoration: none;
}